[submodule "MeDeR.refactor.metrics"]
	path = MeDeR.refactor.metrics
	url = https://github.com/ambrusthomas/MeDeR.refactor.metrics.git
[submodule "MeDeR.refactor.smells"]
	path = MeDeR.refactor.smells
	url = https://github.com/ambrusthomas/MeDeR.refactor.smells.git
[submodule "MeDeR.refactor.refactoring"]
	path = MeDeR.refactor.refactoring
	url = https://github.com/ambrusthomas/MeDeR.refactor.refactoring.git
[submodule "MeDeR.refactor.examples"]
	path = MeDeR.refactor.examples
	url = https://github.com/ambrusthomas/MeDeR.refactor.examples.git